.about__wrapper {
   max-width: 1140px;
   padding: 0 15px;
   margin: 0 auto;
   font-family: 'Nunito', sans-serif;
   color: $grey;
}

.about__container {
   display: flex;
   margin: 120px 0;
}

.about__text-wrapper {
   max-width: 555px;
}

.about__text:first-child {
   margin: 70px 0 25px;
   line-height: 24px;
}

@media(max-width: 991px) {

   .about__container {
      flex-direction: column;
      margin: auto;
   }

   .about__text-wrapper {
      margin: auto;
      padding-bottom: 100px;
      order: 2;
   }

   .about__picture {
      display: block;
      margin-top: 50px;
      text-align: center;
      order: 1;

      img {
         max-width: 100%;
         height: auto;
      }
   }

   .about__text:first-child {
      margin: 0 0 10px;
   }
}