.about__wrapper {
   max-width: 1140px;
   padding: 0 15px;
   margin: 0 auto;
   font-family: 'Nunito', sans-serif;
   color: $grey;
}

.about__container {
   display: flex;
   margin: 120px 0;
}

.about__text-wrapper {
   max-width: 555px;
}

.about__text:first-child {
   margin: 70px 0 25px;
   line-height: 24px;
}