.blog__wrapper {
   max-width: 1170px;
   margin: 0 auto;
}

.blog__news-list {
   margin: 100px 0 70px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.blog__news-item {
   box-sizing: border-box;
   width: 33.33333%;
   padding: 0 15px;
}

.blog__image {
   position: relative;
   overflow: hidden;
   height: 215px;

   img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
   }
}

.blog__caption {
   h3 {
      margin: 17px 0 5px;
      font-size: 20px;
      font-family: 'Nunito', sans-serif;
   }

   time {
      font-size: 12px;
      color: $grey;
      letter-spacing: 1px;
   }

   p {
      margin: 15px 0;
      color: $grey;
   }

   a {
      font-weight: 600;
      transition: 0.3s;

      &:hover {
         color: $blue;
      }

      &::after {
         content: "→";
         margin-left: 10px;
         color: $blue;
      }
   }
}

.button__btn--narrow {
   display: block;
   margin: 0 auto;
}

@media(max-width: 900px) {

   .blog__news-list {
      margin-bottom: 0;
   }

   .blog__news-item {
      width: 100%;
      margin-bottom: 60px;
      text-align: center;
   }

   .blog__caption {
      margin: 0 auto;
      max-width: 430px;
   }
}

@media(max-width: $mobile-width) {

   .blog__news-list {
      margin-top: 70px;
   }
}