.button__list {
   display: inline;
}

.button__item {
   display: inline;
}

.button__btn {
   display: inline-block;
   padding: 12px 0px;
   margin: 0 15px;
   text-align: center;
   text-transform: uppercase;
   border: $blue 1px solid;
   border-radius: 3px;
   font-family: 'Nunito', sans-serif;
   background-color: transparent;
   color: $white;
   cursor: pointer;
   transition: 0.3s;

   &:hover {
      background-color: $blue;
   }
}

.button__btn--wide {
   width: 187px;
}

.button__btn--narrow {
   width: 165px;
   font-size: 13px;
   color: $black;

   &:hover {
      background-color: $blue;
      color: $white;
   }
}