.page-footer {
   background-color: $black;
}

.page-footer__wrapper {
   max-width: 360px;
   padding: 0 15px;
   margin: 0 auto;
}

.page-footer__list {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.page-footer__list {
   padding: 15px 0;
}

.page-footer__social {
   text-transform: uppercase;
   font-size: 11px;
   font-weight: 700;
   color: $white;
}

.page-footer__copyright {
   padding-bottom: 20px;
   font-size: 11px;
   text-transform: uppercase;
   text-align: center;
   color: $grey;
}

.page-footer__social--facebook {
   &::before {
      margin-right: 7px;
      background-image: url(../img/facebook.svg);
      background-color: $white;
      border-radius: 3px;
      background-size: 22px 22px;
      width: 21px;
      height: 21px;
      display: inline-block;
      position: relative;
      top: 6px;
      content: "";
   }
}

.page-footer__social--twitter {
   vertical-align: middle;

   &::before {
      margin-right: 7px;
      background-image: url(../img/twitter.svg);
      background-color: $white;
      border-radius: 3px;
      background-size: 22px 22px;
      width: 21px;
      height: 21px;
      display: inline-block;
      position: relative;
      top: 6px;
      content: "";
   }
}

.page-footer__social--instagram {
   &::before {
      margin-right: 7px;
      background-image: url(../img/instagram.svg);
      background-color: $white;
      border-radius: 3px;
      background-size: 22px 22px;
      width: 21px;
      height: 21px;
      display: inline-block;
      position: relative;
      top: 6px;
      content: "";
   }
}

@media(max-width: $mobile-width) {

   .page-footer__wrapper {
      max-width: 300px;
   }
}