.contact__wrapper {
   max-width: 750px;
}

.form {
   margin-bottom: 75px;
}

.form__name-wrapper {
   display: flex;
   justify-content: space-between;

   .form__item {
      width: 360px;
   }
}

.form__item {
   margin: 0 15px;
}

.form__input-text {
   margin-bottom: 33px;
   padding-left: 20px;
   height: 50px;
   box-sizing: border-box;
   border-radius: 3px;
   border: 1px solid #dddddd;
   font-family: 'Open Sans', sans-serif;

   &:focus {
      outline: none;
      border: 1px solid $blue;
   }

   &::placeholder {
      color: $grey;
   }
}

.form__input-text--first,
.form__input-text--last {
   width: 100%;
}

.form__input-text--email,
.form__input-text--message {
   width: 100%;
}

.form__input-text--message {
   margin-bottom: 50px;
   padding-top: 15px;
   height: 200px;
   resize: none;

   &::placeholder {
      color: $grey;
   }
}

@media(max-width: $mobile-width) {

   .form__name-wrapper {
      display: block;
   
      .form__item {
         margin: 0 15px;
         width: auto;   
      }
   }
}