.main-nav__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 17px 0;
}

.main-nav__logo {
   font-size: 28px;
   font-weight: 700;

   a {
      color: $white;
   }
}

.main-nav__item {
   display: inline;
   margin-left: 25px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;

   a {
      color: white;
      transition: 0.3s;

      &:hover {
         color: $light-blue;
      }
   }
}