.page-header {
   background-color: #36393f;
   background-image: url(../img/header-bg.jpg);
   background-position: center;
   background-size: cover;
   font-family: 'Nunito', sans-serif;
   color: $white;
   margin-bottom: 115px;
}

.page-header__wrapper {
   display: flex;
   padding: 0 15px;
   margin: 0 auto;
   max-width: 1140px;
   flex-direction: column;
}

.page-header__title {
   padding: 190px 0 200px;
   text-align: center;
}

.page-header__heading {
   font-size: 62px;
   text-transform: uppercase;
   letter-spacing: 0.04em;
}

.page-header__description {
   margin: 0 auto;
   padding: 10px 0 60px;
   max-width: 615px;
   font-size: 17px;
   font-weight: 300;
   line-height: 27px;
   letter-spacing: 0.01em;
}

@media(max-width: $mobile-width) {

   .page-header__title {
      padding-top: 60px;
   }

   .page-header__heading {
      font-size: 52px;
   }
}

@media(max-width: $mobile-width-small) {

   .page-header__title {
      padding-top: 25px;
   }

   .page-header__heading {
      font-size: 46px;
   }
}