.works__filter-wrapper {
   display: flex;
   margin: 70px auto 0;
   max-width: 360px;
   justify-content: space-around;
}

.works__filter-item {
   display: inline;
   margin: 0 10px;

   a {
      color: $grey;
      display: inline-block;
      border-bottom: 1px $white solid;
      line-height: 24px;
      transition: 0.3s;

      &:hover {
         color: $blue;
      }

      &:focus {
         color: $blue;
         border-bottom: 1px $blue solid;
      }
   }
}

.works__list {
   padding-top: 40px;
   display: flex;
   flex-wrap: wrap;
}

.works__item {
   width: 25%;
   height: 320px;
   position: relative;
   overflow: hidden;
}

.works__image {
   position: absolute;
   top: 47%;
   left: 50%;
   z-index: 1;
   transform: translate3d(-50%, -50%, 0);
}

.works__caption {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   color: $white;
   font-family: 'Nunito', sans-serif;
   background-color: transparentize($blue, 0.4);
   z-index: 2;
   opacity: 0;
   transition: opacity .3s linear;

   &:hover {
      opacity: 1;

      h3 {
         margin-bottom: 15px;
      }
   }

   h3 {
      margin-bottom: 100px;
      text-transform: uppercase;
      font-size: 18px;
      transition: 0.3s;
   }

   p {
      text-transform: lowercase;
      font-size: 15px;
   }
}

.works__contacts {
   max-width: 360px;
   display: flex;
   margin: 60px auto;
   flex-direction: column;
   align-items: center;

   p {
      margin-bottom: 30px;
      font-size: 25px;
      font-style: italic;
   }
}